---
import GreetingCard from "../components/GreetingCard.astro";
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<!-- <html data-theme="dark"> -->


  <!-- Content you want to center -->
  <Layout title="tailwind stuff">
    
      <h1 class="text-4xl font-bold">Centered Content</h1>
      <p class="text-gray-600">
        This content is centered both horizontally and vertically.
      </p>
      <button class="btn btn-accent">Accent</button>
    

    <div class="card w-96 bg-primary text-primary-content">
      <div class="card-body">
        <h2 class="card-title">Card title!</h2>
        <p>If a dog chews shoes whose shoes does he choose?</p>
        <div class="card-actions justify-end">
          <button class="btn">Buy Now</button>
        </div>
      </div>
    </div>
  </Layout>
  
<!-- </html> -->