---
import GreetingCard from "../components/GreetingCard.astro";
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<!-- <html data-theme="dark"> -->


  <!-- Content you want to center -->
  <Layout title="tailwind stuff">
    
    <div class="text-center">
      <h1 class="text-4xl font-bold">Centered Content</h1>
      <p class="text-gray-600">
        This content is centered both horizontally and vertically.
      </p>
      <button class="btn btn-accent">Accent</button>
    </div>
  </Layout>
  
<!-- </html> -->