---
import GreetingCard from "../components/GreetingCard.astro";
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<!-- <html data-theme="dark"> -->


  <!-- Content you want to center -->
  <Layout title="tailwind stuff">
    
      
    

    <div class="card w-96 bg-primary text-primary-content">
      <div class="card-body">
        <h2 class="card-title">Update API Key!</h2>
        <input type="text" placeholder="SmartSheet API Key" class="input input-bordered input-warning w-full max-w-xs" />
        <div class="card-actions justify-end">
          <button class="btn">How?</button>
          <button class="btn">Update</button>
        </div>
      </div>
      <!-- <iframe src="https://app.tango.us/app/embed/d2f1f181-06ce-4980-8951-856acfb449e6" sandbox="allow-scripts allow-top-navigation-by-user-activation allow-popups allow-same-origin" security="restricted" title="Managing API Access in Smartsheet" width="100%" height="100%" referrerpolicy="strict-origin-when-cross-origin" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen"></iframe> -->
    </div>
  </Layout>
  
<!-- </html> -->
