---
import { deleteSheetMappingById, getSheetMappingById } from "../../db/ss_sheet_mappings";
import type { Tables } from "../../db/types";
import { DeleteWebHook } from "./smartsheet/createWebhook";

const id = (await Astro.request.formData()).get("deleteSheetMapping")
console.log("deleteSheetMapping id " + id);

// const {data, error: groupError} = await supabase
// .from("ss_sheet_mappings")
// .delete()
// .eq("id", parseInt(id!.toString()))

const sheetId = id!.toString()

const sheetMapping : Tables<"ss_column_mappings">[] = await getSheetMappingById(sheetId)
console.log("webhook id is " + sheetMapping[0].webhook_id)
// sheetMapping

const deleteResult = await deleteSheetMappingById(sheetId)

const result = await DeleteWebHook(sheetMapping[0].webhook_id!)


return new Response(``, {
  status: 200,
});
---

<!-- <h1 HX-Redirect="www.google.com">htmx is awesome {payload}</h1> -->
